# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\PAWEL\Documents\STUDIA\6-SEMESTR\SR\lab4\pm-akka-zadanie\.idea/dataSources/
/dataSources.local.xml
